<div class="row noMobile">
  <h4 class="subheader text-center">
    Images: {{imageCount}},
    Videos: {{videoCount}},
    Audio: {{audioCount}},
    Documents: {{documentCount}},
    Plaintext: {{plainTextCount}}
  </h4>
</div>
