<tr>
  <th>Type</br><button class="button tiny" id="sort" data-type="type">Sort</button></th>
  <th>File Extension<button class="button tiny" id="sort" data-type="fileExtension">Sort</button></th>
  <th>Description</br><button class="button tiny" id="sort" data-type="description">Sort</button></th>
  <th>Supported</br><button class="button tiny" id="sort" data-type="supported">Sort</button></th>
</tr>
<tr>
  <td>Images: {{imageCount}}</td>
  <td>Videos: {{videoCount}}</td>
  <td>Audio: {{audioCount}}</td>
  <td>Documents: {{documentCount}}</td>
  <td>Plain Text: {{plainTextCount}}</td>
</tr>


